html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1920px;
  font-family: "Hind", sans-serif;
  color: #2c2f3c;
  background-color: #ffffff;
}

.header {
  height: 900px;
  width: 100%;
  background: no-repeat center url("../img/m-h-day.jpg");
  background-color: white;
  background-size: cover;
  border-radius: 0 0 40% 0;
}

.header-wrap {
  margin-left: 193px;
  padding-top: 26px;
}
.header-wrap .landing-logo {
  display: flex;
  align-items: flex-start;
  text-align: center;
}
.header-wrap .landing-logo img {
  width: 55px;
  height: auto;
}
.header-wrap .landing-logo p {
  font-family: "Hind", sans-serif;
  margin: 0px 0px 18px 18px;
  font-size: 1.9em;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.2;
}
.header-wrap .landing-logo span {
  display: block;
  margin: 0px 0px 18px -2px;
  letter-spacing: 0.1px;
  font-size: 0.4em;
}
.header-wrap .header_heading {
  margin: 0;
  padding: 0;
  text-align: left;
  margin: 57px 0px 18px -1px;
  word-spacing: -2px;
  letter-spacing: 0px;
  font-size: 5.7em;
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1;
  width: 50%;
  z-index: 1;
  position: relative;
}
.header-wrap .header_heading::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 380px;
  height: 62px;
  background-color: #14a0c7;
  content: '';
}
.header-wrap .header_text {
  margin-top: 45px;
  white-space: pre-line;
  font-size: 1.2em;
  line-height: 1.57;
  word-spacing: 2.1px;
  letter-spacing: 0.2px;
  font-family: "Hind", sans-serif;
}
.header-wrap .header_button, .header-wrap .section_banner .section_banner_button, .section_banner .header-wrap .section_banner_button {
  margin-top: 56px;
  padding: 15px 55px 16px;
  color: #f2f3f7;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #699900;
  border: none;
  font-weight: 600;
  font-size: 1.4em;
}
.header-wrap .header_button:hover, .header-wrap .section_banner .section_banner_button:hover, .section_banner .header-wrap .section_banner_button:hover, .header-wrap .header_button:active, .header-wrap .section_banner .section_banner_button:active, .section_banner .header-wrap .section_banner_button:active {
  background-color: #466600;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.9);
}
.header-wrap .header_button:active, .header-wrap .section_banner .section_banner_button:active, .section_banner .header-wrap .section_banner_button:active {
  box-shadow: none;
}
.header-wrap .header_button + a, .header-wrap .section_banner .section_banner_button + a, .section_banner .header-wrap .section_banner_button + a {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 2em;
  padding: 15px 55px 0px 185px;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.57;
  word-spacing: -1.3px;
  letter-spacing: 0.4px;
}

main .section_text {
  text-align: center;
  color: #2c2f3c;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.25em;
  font-weight: 600;
  line-height: 1.57;
  word-spacing: -1.3px;
  letter-spacing: 0.4px;
  margin-top: 38px;
  position: relative;
  z-index: 1;
}
main .section_text::after {
  position: absolute;
  bottom: 19px;
  left: 50.5%;
  z-index: -1;
  display: block;
  width: 235px;
  height: 62px;
  background-color: #14a0c7;
  content: '';
}
main .section_card_wrap {
  margin-top: -13px;
  padding-left: 397px;
}
main .section_card_wrap .section_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  width: 1125px;
  height: 345px;
  margin-top: 30px;
  background-color: #21232e;
  border-radius: 8px;
}
main .section_card_wrap .section_card .section_card_img {
  border-radius: 8px;
  margin: 25px;
  height: auto;
}
main .section_card_wrap .section_card img[src="img/m-1.jpg"] {
  width: 64%;
}
main .section_card_wrap .section_card img[src="img/m-2.jpg"] {
  width: 60%;
}
main .section_card_wrap .section_card img[src="img/m-3.jpg"] {
  width: 71%;
}
main .section_card_wrap .section_card .section_card_right_container {
  display: block;
  width: 100%;
  margin: 0 125px 0 0;
}
main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
  text-align: center;
  color: #ffffff;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 62px;
  padding-right: 0px;
  padding-left: 75px;
  font-size: 1.9em;
  font-weight: 600;
  letter-spacing: -0.3px;
  word-spacing: 1px;
}
main .section_card_wrap .section_card .section_card_right_container .section_card_text {
  box-sizing: border-box;
  text-align: justify;
  color: #ffffff;
  font-family: "Hind", sans-serif;
  margin-top: -6px;
  padding-right: 0px;
  padding-left: 76px;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: -0.2px;
  word-spacing: 0px;
  line-height: 1.47;
}
main .section_card_wrap .section_card .section_card_right_container .section_link {
  width: 100%;
  display: block;
  text-align: center;
  color: #ffffff;
  font-family: "Hind", sans-serif;
  margin-top: -23px;
  padding-right: 0px;
  padding-left: 75px;
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: -0.6px;
  word-spacing: 1px;
  line-height: 2.8;
  line-height: 2.8;
  word-spacing: 1px;
  letter-spacing: -0.6px;
}

.section_banner {
  position: absolute;
  margin-top: 175px;
  margin-left: 360px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  height: 180px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(40deg, #689802 0%, #2c5add 100%);
  z-index: 11;
}
.section_banner .section_banner_text_wrap {
  margin: 0;
  margin-left: 128px;
}
.section_banner .section_banner_text_wrap .section_banner_heading {
  margin-top: 30px;
  font-size: 2.36em;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  color: #2c2f3c;
  position: relative;
  z-index: 1;
}
.section_banner .section_banner_text_wrap .section_banner_heading::before {
  position: absolute;
  bottom: 0px;
  left: 150px;
  z-index: -1;
  display: block;
  width: 80px;
  height: 60px;
  background-color: #14a0c7;
  content: '';
}
.section_banner .section_banner_text_wrap .section_banner_text {
  margin-top: -17px;
  font-size: 1.25em;
}
.section_banner .section_banner_button {
  align-self: center;
  margin-right: 128px;
}

.header_button, .section_banner .section_banner_button {
  margin-top: 0px;
  padding: 15px 55px;
  color: #f2f3f7;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #699900;
  border: none;
  font-weight: 600;
  font-size: 1.4em;
}
.header_button:hover, .section_banner .section_banner_button:hover, .header_button:active, .section_banner .section_banner_button:active {
  background-color: #466600;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.9);
}
.header_button:active, .section_banner .section_banner_button:active {
  box-shadow: none;
}
.header_button:focus, .section_banner .section_banner_button:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 262px;
  padding-bottom: 20px;
  color: white;
  background-color: #21232e;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 160px 0 50px;
  width: 80%;
  color: #c0c3ce;
}

.footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_logo img {
  margin-top: 9px;
  width: 55px;
}
.footer_logo p {
  font-family: "Hind", sans-serif;
  text-align: center;
  margin: -8px 0px 0px 19px;
  padding: 0 0px 0 0;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: -1.3px;
  word-spacing: 2px;
  line-height: 1.5;
}
.footer_logo p span {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
  font-size: 0.4em;
  font-weight: 800;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  line-height: 0;
}

.footer_text {
  font-family: "Hind", sans-serif;
  margin: 0px 0 0 -16px;
  padding: 0 0 0 0px;
  width: 370px;
  font-size: 1.1em;
  font-weight: 800;
  letter-spacing: 0.1px;
  word-spacing: -2.8px;
  line-height: 1.45;
}

.footer-cr {
  font-family: "Hind", sans-serif;
  font-size: 1.25em;
  opacity: 0.7;
}
