$SourceSansPro : ('Source Sans Pro', sans-serif);
$Fresca : ('Fresca', sans-serif);
$Hind : ('Hind', sans-serif);
$fonts: (
    smth: $SourceSansPro, 
    fontLogo: $Fresca,
    fontHeader: $Hind 
);
// $fonts: (
//     smth: ('Source Sans Pro', sans-serif), 
//     fontLogo: ('Fresca', sans-serif),
//     fontHeader: ('Hind', sans-serif)
// );

$colors: (
    bgColor: #ffffff,
    color: #2c2f3c,
    lineColor: #14a0c7,
    btnColor: #699900,
    cardColor: #21232e
);

$bgHeaderImg: "../img/m-h-day.jpg";
$gradient: linear-gradient(40deg, #689802 0%, #2c5add 100%);