$fonts: (
    smth: ('Source Sans Pro', sans-serif), 
    fontBody: ('Fresca', sans-serif),
    fontHeader: ('Hind', sans-serif)
);

$colors: (
    bgColor: #ffffff,
    color: #2c2f3c,
    lineColor: #14a0c7,
    btnColor: #699900,
    cardColor: #21232e
);

$bgHeaderImg: "../img/m-h-day.jpg";