.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding: 0px 37vh 0;
}

.post {
  margin-top: 70px;
  &__title {
    color: #000;
    margin-top: 30px;
    font-size: 1.7em;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 700;
  }

  &__text {
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.1em;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;
    line-height: 1.4;
  }

  &__btn {
    height: 50px;
    width: 170px;
    margin-top: 30px;
    border-radius: 25px;
    font-size: 0.9em;
    word-spacing: -0.7px;
    letter-spacing: 0px;
    font-weight: 700;
    border: 1px solid #000;
    background-color: #fff;
  }

  &__hr {
    margin-top: 60px;
  }
}

.ditails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 0.9em;
  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
  }

  &__item {
    margin-right: 20px;
  }

  &__comments {
    position: relative;
    z-index: 1;
    margin-left: 10px;
  }

  &__comments:before {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 2;
    left: -20px;
    bottom: 0px;
    display: block;
    content: "";
    background-image: url("../img/comment-white-oval-bubble.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}

.hide {
  display: none;
}