* {
  box-sizing: border-box;
  margin: 0 0 0 0px;
  padding: 0;
}

html,
body {
  width: 100%;
  color: #777;
  // font-family: 'Open Sans', sans-serif;
  font-family: serif;
}

a {
  text-decoration: none;
  color: #777;
}

ul {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
}

button {
  outline: none;
}

button:hover {
  color: #bfba55;
}

.container {
  // width: 1440px;; // !!!!!!!!!!!!!!!!!!!!!!!!!!
  min-width: 900px;
  width: 100%;
}