.header {
  height: 100vh;
  width: 100%;
  
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 80px;
    background-color: #FFFFFF;
  }
  
  &__link {
    text-transform: uppercase;
    margin-left: 200px;
    font-size: 1.3em;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    margin-right: 215px;
    font-size: 1em;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;
  }

  &__item a:hover {
    color: #bfba55;
  }

  &__hero {
    position: relative;
    width: 100%;
    background: url("../img/home-bg.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    overflow: hidden;
  }

  &__pampers {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__hero-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    color: #fff;
    font-size: 4em;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 600;
  }

  &__text {
    color: #bfba55;
    margin-top: 15px;
    font-size: 0.8em;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-weight: 500;
  }

  &__btn {
    height: 45px;
    width: 146px;
    border-radius: 22px 22px 22px 22px;
    text-transform: uppercase;
    color: #777;
    margin-top: 40px;
    font-size: 0.6em;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 700;
  }
}

